*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100hv;
}
img{
    max-width: 100%;
}
.oneCountry{
    border: 1px solid rgb(175, 149, 149);
    width: 20%;
    
}
.allCountries{
    display: flex;
    flex-wrap: wrap;
}